<footer>
  <div class="footer-left">
    <img src="{{ include.base }}images/fravora.png" alt="" />
    <span>© 2026 aniujual software</span>
  </div>
  <div class="footer-links">
    <a href="mailto:aniujual.dev@yahoo.com">Contact</a>
    <a href="{{ include.base }}manual.html">User Manual</a>
    <a href="{{ include.base }}features.html">Features</a>
    <a href="{{ include.base }}how-it-works.html">How It Works</a>
    <a href="{{ include.base }}download.html">Download</a>
    <a href="{{ include.base }}blog/index.html">Blog</a>
    <a href="{{ include.base }}glossary.html">Glossary</a>
    <a href="{{ include.base }}privacy.html">Privacy Policy</a>
    <a href="{{ include.base }}data-deletion.html">Data Deletion</a>
    <a href="{{ include.base }}release-notes.html">Release Notes</a>
  </div>
</footer>
