<footer>
  <div class="footer-left">
    <img src="{{ site.baseurl }}/images/fravora.png" alt="" />
    <span>© 2026 aniujual software</span>
  </div>
  <div class="footer-links">
    <a href="mailto:aniujual.dev@yahoo.com">Contact</a>
    <a href="{{ site.baseurl }}/manual.html">User Manual</a>
    <a href="{{ site.baseurl }}/features.html">Features</a>
    <a href="{{ site.baseurl }}/how-it-works.html">How It Works</a>
    <a href="{{ site.baseurl }}/download.html">Download</a>
    <a href="{{ site.baseurl }}/blog/index.html">Blog</a>
    <a href="{{ site.baseurl }}/glossary.html">Glossary</a>
    <a href="{{ site.baseurl }}/privacy.html">Privacy Policy</a>
    <a href="{{ site.baseurl }}/data-deletion.html">Data Deletion</a>
    <a href="{{ site.baseurl }}/release-notes.html">Release Notes</a>
  </div>
</footer>
